<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alta-libro.component.css">
    <title>Alta libro</title>
</head>
<body>
    <h1>Alta de libro</h1><br><br><br>
    <div class="cajas">
        <i class="fa-solid fa-book"></i><input type="text" placeholder="Nombre del libro"><br><br>
        <i class="fa-solid fa-user-group"></i><input type="text" placeholder="Autor"><br><br>
        <i class="fa-solid fa-barcode"></i><input type="text" placeholder="ISBN"><br><br>
        <i class="fa-solid fa-calendar-days"></i><input type="date" placeholder="Fecha publicación">
    </div>
    <div class="notas">
        <h5>Nombre del libro:</h5><br><br>
        <h5>Autor(es):</h5><br><br>
        <h5>ISBN:</h5><br><br>
        <h5>Fecha publicación:</h5>
    </div>

    <div class="botones"><br><br>
        <button class="btnCancelar">Cancelar</button>
        <button class="btnGuardar">Guardar</button>
    </div>

</body>
</html>