<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gestion-ejemplares.component.css">
    <title>Gestión de ejemplares</title>
</head>
<body>
  <h1>Gestión de ejemplares</h1><br><br><br>
  <form>
      <i class="fa-solid fa-magnifying-glass"></i><input #search class="barra" type="share" name="" placeholder="Buscar">
      <button type="button" (click)="mostrarTabla()">Buscar</button><br><br><br>
  </form>
  <table *ngIf="visible" class="table">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">ISBN</th>
        <th scope="col">ID del ejemplar</th>
        <th scope="col" style="width: 5%;">Eliminar</th>
      </tr>
    </thead>
    <tbody *ngFor="let Ejemplar of ejemplares">
      <tr>
        <td>{{Ejemplar.titulo}}</td>
        <td>{{Ejemplar.ISBN}}</td>
        <td>{{Ejemplar.idEjemplar}}</td>
        <td><button style="background-color: white; border: none;"><i class="fa-solid fa-trash" id="{{Ejemplar.IdEjemplar}}" style="color: #e32402;"></i></button></td>
      </tr>
    </tbody>
  </table>
</body>
</html>