<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alta-prestamo.component.css">
    <title>Alta libro</title>
</head>
<body>
    <h1>Alta de prestamo</h1><br><br><br>
    <div class="cajas">
        <i class="fa-solid fa-book"></i><input type="text" placeholder="ID ejemplar"><br><br>
        <i class="fa-solid fa-calendar"></i><input type="date" placeholder="Fecha entrega"><br><br>
        <i class="fa-solid fa-calendar"></i><input type="date" placeholder="Fecha devolución"><br><br>
        <i class="fa-solid fa-envelope"></i><input type="email" placeholder="Correo"><br><br>
        <i class="fa-regular fa-id-badge"></i><input type="text" placeholder="Número control">
    </div>
    <div class="notas">
        <h5>ID ejemplar:</h5><br><br>
        <h5>Fecha entrega:</h5><br><br>
        <h5>Fecha devolución:</h5><br><br>  
        <h5>Correo:</h5><br><br>
        <h5>Número control:</h5>
    </div>

    <div class="botones"><br><br>
        <button class="btnCancelar">Cancelar</button>
        <button class="btnGuardar">Guardar</button>
    </div>

</body>
</html>